#index {
    background-color: purple;
    background-position: top;
    background-image: url("images/riviera4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#carFacts{
    background-color: sandybrown;
    background-position: top;
    background-image: url("images/audis5.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#carHonda {
    background-color: sandybrown;
    background-position: top;
    background-image: url("images/Honda.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
nav li{
    font-style: italic;
    display: inline-table;
    padding: 0.25em;
    margin: 0.175em;
    border: 1px solid whitesmoke;
}

h1 {
    font-size: 4em;
    font-family: "Times New Roman";
    color: #db1818;
}

h2{
    font-size: 2em;
    font-family: "Times New Roman";
    color: silver;

}

label{color:snow;

}

p{
    font-family: Inconsolata;
    color: silver;
    font-size: 2em;
}
