#index {
    background-color: purple;
    background-position: top;
    background-image: url("images/riviera4.jpg");
    background-repeat: no-repeat;
    background-size: cover;

}
nav{
    color: ghostwhite;
}

.navigation{

}

li{
    color: blue;
    background-color: ghostwhite;
}

#carFacts{
    background-color: sandybrown;
    background-position: top;
    background-image: url("images/audis5.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#carHonda {
    background-color: sandybrown;
    background-position: top;
    background-image: url("images/Honda.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
nav li{
    font-style: italic;
    display: inline-table;
    padding: 0.25em;
    margin: 0.175em;
    border: 1px solid whitesmoke;
    opacity: .8;
}

h1 {
    font-size: 4em;
    font-family: "Times New Roman";
    color: ghostwhite;
}

h2{
    font-size: 2em;
    font-family: "Times New Roman";
    color: ghostwhite;

}

label{color:ghostwhite;

}

p{
    font-family: Inconsolata;
    color: ghostwhite;
    font-size: 2em;
}
table{
    color:black;
    background-color: rgba(255,255,255,0.8);
    padding: 20px;
    margin: 15px;
    opacity: .8;
}
table a{

    color:black;

}