<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8"/>

    <title>Make/Model</title>

    <link rel="stylesheet" type="text/css" href="../static/styles.css" th:href="@{/styles.css}"/>
</head>
<body id ="carFacts">
<nav>
    <ul>
        <li><a href="index.html" th:href="@{/}">Car Make</a></li>
        <!--<li><a href="carHonda.html"th:href="@{/carFacts}">Car Year</a></li>-->
        <li><a href="carHonda.html" th:href="@{/carHonda}">Car Model</a></li>

    </ul>
</nav>
<!--<div th:text="${car}">body</div>-->
<h1>Make/Model</h1>
<form action="index.html" th:action="@{/saveCar}" method="post" th:object="${car}">
    <label>
        <span>Car Model:</span>
        <input type="text" name="carModel" value="" th:value = "*{carModel}" required="required"/>
    </label>

    <label>
        <span>Car Make:</span>
        <input type="text" name="carMake" value="" th:value = "*{carMake}"/>
    </label>

    <label>
        <span>Car Year:</span>
        <input type="text" name="carYear" value="" th:value = "*{carYear}"/>
    </label>

    <input type="hidden" name="carId" value="" th:value = "*{carId}"/>

    <button>Save Car</button>
</form>
</body>
</html>