<!DOCTYPE html>
<html lang="en" xmlns:th="http://thmyeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Cars</title>

    <link rel="stylesheet" type="text/css" href="../static/styles.css" th:href="@{/styles.css}"/>
    <h1>HONDA</h1>
</head>
<body id ="carHonda">
<nav>
    <ul>
       <li><a href="index.html" th:href="@{/}">Car Home</a></li>
        <li><a href="carFacts.html" th:href="@{/carFacts}">Add/Edit Car</a></li>
        <!--<li><a href="carHonda.html" th:href="@{/carHonda.html}">Car Model</a></li>-->

    </ul>

    <!--<form>-->
        <!--<label>Car Year:</label>-->
        <!--<select id = "Car Year :">-->
            <!--<option value = "1">select</option>-->
            <!--<option value = "2">1950</option>-->
            <!--<option value = "3">1951</option>-->
        <!--</select>-->

        <!--&lt;!&ndash;<select name = "make" th:each="make:${makes}">&ndash;&gt;-->
        <!--<select name = "make" th:each="make:${makes}">-->
            <!--<option value = "1" th:text="${make.make_display}">select</option>-->

            <!--<option value = "2" th:remove="all">Ford</option>-->
            <!--<option value = "3" th:remove="all">Chevrolet</option>-->
        <!--</select>-->
    <!--</form>-->

</nav>
<!--<div th:text="${make}">body</div>-->
<form action="carHonda.html" th:action="@{/carHonda}" method="post">
    <label>
        <span>Search Auto:</span>
        <input type="text" name="search" value="" th:value="${search}"/>
    </label>
    <button>Begin Search</button>
    <!--<p>Showing <span th:text="${car.size()}"></span> Cars</p>-->

</form>
<p>Showing <span th:text="${cars.size()}"></span> cars.</p>
<table>
    <tr>
        <!--shows the table head Sort by first name and another sort by last name-->
        <th>
            <a href="index.html" title="Sort by Car Model">Car Model</a>
        </th>
        <th>
            <a href="index.html" title="Sort by Car Make">Car Make</a>
        </th>
        <th>
            <a href="index.html" title="Sort by Car Make">Car Year</a>
        </th>
    </tr>
    <tr th:each="car:${cars}">
        <!--//adding th:text to show firstname and lastname not dogs-->
        <td th:text="${car.getCarModel()}">Cosmo</td>
        <td th:text="${car.getCarMake()}">Harper</td>
        <td th:text="${car.getCarYear()}">Harper</td>
        <!--adding th href thymeleaf to add person id to show in url-->
        <td><a href="/" th:href="@{/carHonda/?carId=} + ${car.getCarId()}">Edit</a></td>
    </tr>
    </table>
<p> Welcome to Honda </p>




</body>
</html>