<!DOCTYPE html>
<html lang="en" xmlns:th="http://thmyeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Cars</title>

    <link rel="stylesheet" type="text/css" href="../static/styles.css" th:href="@{/styles.css}"/>
    <h1>Your Vehicle Database</h1>
</head>
<body id ="index">
<nav>
    <ul class="navigation">
        <li><a href="index.html" th:href="@{/}">Car Home</a></li>
        <li><a href="carFacts.html" th:href="@{/carFacts}">Save/Edit a Car</a></li>
        <li><a href="carHonda.html" th:href="@{/carHonda}">Search for Cars</a></li>

    </ul>

<!--<form>-->
<!--<label>Car Year:</label>-->
    <!--<select id = "Car Year :">-->
        <!--<option value = "1">select</option>-->
        <!--<option value = "2">1950</option>-->
        <!--<option value = "3">1951</option>-->
    <!--</select>-->

    <!--&lt;!&ndash;<select name = "make" th:each="make:${makes}">&ndash;&gt;-->
    <!--<select name = "make" th:each="make:${makess}">-->
        <!--<option value = "1" th:text="${make.make_display}">select</option>-->
        <!--<option value = "2">CHRIS</option>-->

        <!--<option value = "2" th:remove="all">Ford</option>-->
        <!--<option value = "3" th:remove="all">Chevrolet</option>-->
    <!--</select>-->
    <!--</form>-->

</nav>
<!--<h2>Add/Edit Car</h2>-->
<!--<p>Use the form below to <span> add/edit</span> a car</p>-->
<!--<div th:text="${make}">body</div>-->
<!--<form action="index.html" th:action="@{/saveCar}" method="post" th:object="${car}">-->
    <!--<label>-->
        <!--<span>Car Make</span>-->
        <!--&lt;!&ndash;<input type="text" name="carMake" value="" th:value="*{carMake}"/>&ndash;&gt;-->
    <!--</label>-->
    <!--<label>-->
        <!--<span>Car Model</span>-->
        <!--<input type="text" name="carModel" value="" th:value="*{carModel}"/>-->
    <!--</label>-->
    <!--<label>-->
        <!--<span>Car Year</span>-->
        <!--<input type="text" name="carYear" value="" th:value="*{carYearl}"/>-->
    <!--</label>-->

    <!--<input type="hidden" name="carId" value="" th:value = "*{carId}"/>-->

    <!--<button>Save Here</button>-->
<!--</form>-->

<div>
<span>



</span>



</div>
<p> All Vehicles </p>


</body>
</html>