<!DOCTYPE html>
<html lang="en" xmlns:th="http://thmyeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Cars</title>

    <link rel="stylesheet" type="text/css" href="../static/styles.css" th:href="@{/styles.css}"/>
    <h1>Car Match</h1>
</head>
<body>

<nav>
    <ul>
        <li><a href="index.html" th:href="@{/}">Car Make</a></li>
        <li><a href="carFacts.html" th:href="@{/carfacts.html}">Car Year</a></li>
        <li><a href="carFacts.html">Car Model</a></li>

    </ul>

<label>Car Year</label>
    <select id = "Car Year">
        <option value = "1">select</option>
        <option value = "2">1950</option>
        <option value = "3">1951</option>

    </select>

    <div>

    </div>

    <label>Car Model</label>
    <select id = "Car Model">
        <option value = "1">select</option>
        <option value = "2">Ford</option>
        <option value = "3">Chevrolet</option>
    </select>


</nav>
<!--<div th:text="${car}">body</div>-->
<form action="index.html" th:action="@{/}" method="post">
    <label>
        <span>SEARCH:</span>
        <input type="text" name="search" value="" th:value="${search}"/>
    </label>
    <button>Press Here</button>
</form>
<p> Introducing: 2017 Models!!! </p>




</body>
</html>